@model Entidades.Administrador

@{
    ViewBag.Title = "Usted está logueado";
}

<h2>Usted se ha logueado correctamente</h2>

@if (Session["LogedUserID"] != null)
{
    <text>
        Bienvenido @Session["LogedUserID"].ToString()
    </text>
    
     <p><a class="btn btn-success" href="/">Comenzar a trabajar.</a></p>
}