# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#ESTO ES DE NUESTRO PROYECTO
.config
App.config
Entidades/App.Config
Entidades/Model1.Context.cs
Entidades/Model1.Context.tt
Entidades/Model1.cs
Entidades/Model1.edmx.sql
Entidades/Model1.edmx.diagram
Entidades/Model1.edmx
Entidades/Model1.Designer.cs
Entidades/Model1.cs
Entidades/Model1.Context.tt
Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entidades/obj/Debug/edmxResourcesToEmbed/Model1.csdl
Entidades/obj/Debug/edmxResourcesToEmbed/Model1.msl
Entidades/obj/Debug/edmxResourcesToEmbed/Model1.ssdl
Entidades/obj/Debug/Entidades.csproj.FileListAbsolute.txt
Entidades/obj/Debug/Entidades.csprojResolveAssemblyReference.cache
SGI.v12.suo
*.dll
*.suo
*.config
bin/
obj/
