@{
    ViewBag.Title = "Detalles de la versión";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SGI 2014 es la forma más increible,
    rápida y eficiente de gestionar su inmobiliaria.
    <br />
    Gane clientes, cobre comisiones y hágase rico gestionando
    las propiedades de otras personas y estafando a
    la clase trabajadora.
    <br />
    Con SGI usted se ahorrá gran cantidad de tiempo
    y su negocio podrá ser gestionado de forma remota.
    El módulo Web le permite notificar a las autoridades
    de un atraso en el pago del alquiler y podrá echar
    inquilinos sin moverse de su casa, que es suya
    porque pudo comprarla robándole a la gente
    que no pudo hacerlo.
    </p>
