@{
    ViewBag.Title = "Soporte";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Corrientes 1483<br />
    Rosario, 2000<br />
    <abbr title="Teléfono">T:</abbr>
    3407.400069
</address>

<address>
    <strong>Soporte:</strong>   <a href="https://www.facebook.com/nicodono">Nicolás Donoso</a><br />
    <strong>Marketing:</strong> <a href="https://www.facebook.com/abel.alejandro3">Abel Ubilla</a>
</address>