@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Gestión de Inmobiliarias</h1>
    <p class="lead">Módulo web de administración remota de Propiedades, Unidades e Inquilinos.</p>
    <p><a href="http://frro.cvg.utn.edu.ar/" class="btn btn-primary btn-large">Conozca los nuevos módulos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestionar Inquilinos</h2>
        <p>
            Acceso al módulo de gestión remota de Inquilinos.
        </p>
        <p><a class="btn btn-success" href="/Inquilinos/Buscar">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestionar Propiedades</h2>
        <p>Acceso al módulo de gestión remota de Propiedades.</p>
        <p><a class="btn btn-success" href="/Propiedades/Buscar">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestionar Unidades</h2>
        <p>Acceso al módulo de gestión remota de Unidades.</p>
        <p><a class="btn btn-success" href="/Unidades/Buscar">Acceder &raquo;</a></p>
    </div>
</div>