@{
    ViewBag.Title = "SGI";
}

<div class="jumbotron">
    <h1>Sistema de Gestión de Inmobiliarias</h1>
    <p class="lead">Bienvenido a SGI! Comience a trabajar desde donde esté.</p>
    <p><a href="http://frro.cvg.utn.edu.ar/" class="btn btn-primary btn-large">Agregar módulos al sistema &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Gestionar Propiedades</h2>
        <p>
            Módulo de gestión remota de propiedades.
        </p>
        <p><a class="btn btn-danger" href="/Propiedades/SearchIndex">Ir &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Gestionar Inquilinos</h2>
        <p>Módulo de gestión remota de propiedades.</p>
        <p><a class="btn btn-danger" href="/Inquilinos/SearchIndex">Ir &raquo;</a></p>
    </div>
</div>